---
version_info: '0'
resources:
- "@type": type.googleapis.com/envoy.config.endpoint.v3.ClusterLoadAssignment
  cluster_name: localservices
  endpoints:
  - lb_endpoints:
  {%- for endpoint in endpoints %}
    - endpoint:
        address:
          socket_address:
            address: {{ endpoint.address }}
            port_value: {{ endpoint.port }}
      load_balancing_weight: {{ endpoint.weight }}
  {%- endfor %}
